<h2 class="form-title">Profil utilisateur</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="article-form" *ngIf="profile$ | async as profile">
  <div class="form-group">
    <input id="username" formControlName="username" />
  </div>

  <div class="form-group">
    <input id="email" formControlName="email" />
  </div>

  <div class="form-group">
    <input id="password" type="password" formControlName="password" />
  </div>

  <button type="submit" mat-raised-button color="primary" class="submit-btn">Mettre à jour</button>
</form>


<h3>Mes abonnements</h3>
<div class="themes-grid" *ngIf="profile$ | async as profile">
  <div class="theme-card" *ngFor="let theme of profile.abonnements">
    <div class="theme-title">
      <strong>{{ theme.name }}</strong>
    </div>
    <div class="theme-description">
      {{ theme.description }}
    </div>
    <button
        mat-raised-button
        color="primary"
        class="unsubscribe-btn" (click)="unsubscribe(theme.id)">Se désabonner</button>
  </div>
</div>
