<nav class="header-nav">
  <div class="header-logo">
    <img src="/assets/logo_p6.png" alt="LOGO" style="height:40px;">
  </div>
  <div class="header-links">
    <a href="#" class="logout-link" (click)="logout()">Se déconnecter</a>
    <a routerLink="/article/abonnes" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Articles</a>
    <a routerLink="/themes" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Thèmes</a>
    <a routerLink="/profile" title="Profil" routerLinkActive="active-profile" [routerLinkActiveOptions]="{ exact: true }">
        <span class="icon-circle">
             <mat-icon>person_outline</mat-icon>
        </span>
    </a>
  </div>
</nav>