<button mat-icon-button class="back-btn" (click)="goBack()" aria-label="Retour">
  <mat-icon>arrow_back</mat-icon>
</button>

<h2 class="centered">Inscription</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">
  <div class="form-group">
    <label for="username">Nom d'utilisateur :</label>
    <input id="username" formControlName="username" />
    <div *ngIf="submitted && registerForm.controls['username'].invalid" class="error">Champ requis</div>
  </div>

  <div class="form-group">
    <label for="email">Adresse e-mail :</label>
    <input id="email" formControlName="email" type="email" />
    <div *ngIf="submitted && registerForm.controls['email'].invalid" class="error">Email invalide</div>
  </div>

  <div class="form-group">
    <label for="password">Mot de passe :</label>
    <input id="password" formControlName="password" type="password" />
    <div *ngIf="submitted && registerForm.controls['password'].invalid" class="error">Champ requis</div>
    <div *ngIf="submitted && registerForm.controls['password'].errors?.['passwordComplexity']" class="error">
      Le mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule, un chiffre et un caractère spécial.
    </div>
  </div>

  <button mat-raised-button type="submit" class="validation-sbm">S'inscrire</button>
</form>


